# ambientes
.venv/
venv/

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/

# notebooks e sistema
.ipynb_checkpoints/
.DS_Store

# saídas
outputs/
